apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: lobby-service-hpa
  labels:
    app: belote
    component: lobby-service
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: lobby-service
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
