services:
  # NATS BROKER
  nats:
    image: nats:latest
    ports:
      - "4222:4222"   # main NATS connection port
      - "8222:8222"   # monitoring UI
    command: ["--http_port", "8222", "-js"]  # enables JetStream (for persistence if needed)

  # MONITORING PIPELINE
  nats-exporter:
    image: natsio/prometheus-nats-exporter:latest
    ports:
      - "7777:7777"
    command: ["-varz", "http://nats:8222"]

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - "./prometheus.yml:/etc/prometheus/prometheus.yml"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
     - "3001:3000"
    volumes:
      - grafana-storage:/var/lib/grafana

  # MICROSERVICES
  game-service:
    build: ./game-service
    container_name: game-service
    depends_on:
      - nats
    environment:
      - NATS_URL=nats://nats:4222
    # volumes:
    #   - ./game-service:/app

  lobby-service:
    build: ./lobby-service
    container_name: lobby-service
    depends_on:
      - nats
      - lobbies-postgres
    environment:
      - NATS_URL=nats://nats:4222
      - LOBBY_DATABASE_URL=postgresql://postgres:admin@lobbies-postgres:5432/belote-lobbies
    # volumes:
    #   - ./lobby-service:/app

  auth-service:
    build: ./auth-service
    container_name: auth-service
    depends_on:
      - nats
      - users-postgres
    environment:
      - NATS_URL=nats://nats:4222
      - USER_DATABASE_URL=postgresql://postgres:admin@users-postgres:5432/belote-users

  server:
    build: ./server
    container_name: server
    depends_on:
      - nats
    environment:
      - NATS_URL=nats://nats:4222
    ports:
      - "3000:3000"   
    # volumes:
    #   - ./server:/app

  client:
    build: ./client
    container_name: client
    depends_on:
      - server
    ports:
      - "5173:80"   # vite dev server
    # volumes:
    #   - ./client:/app
  
  # DATABASES
  lobbies-postgres:
    image: postgres:latest
    container_name: lobbies-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: belote-lobbies
    ports:
      - "5432:5432"
    volumes:
      - lobbies_belote_data:/var/lib/postgresql/data

  users-postgres:
    image: postgres:latest
    container_name: users-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: belote-users
    ports:
      - "5431:5432"
    volumes:
      - auth_belote_data:/var/lib/postgresql/data

volumes:
  lobbies_belote_data:
  auth_belote_data:
  grafana-storage: