apiVersion: v1
kind: Service
metadata:
  name: server
  labels:
    app: belote
    component: server
spec:
  type: ClusterIP
  selector:
    app: belote
    component: server
  ports:
    - name: http
      port: 3000
      targetPort: 3000
