apiVersion: apps/v1
kind: Deployment
metadata:
  name: nats
  labels:
    app: belote
    component: nats
spec:
  replicas: 1
  selector:
    matchLabels:
      app: belote
      component: nats
  template:
    metadata:
      labels:
        app: belote
        component: nats
    spec:
      containers:
        - name: nats
          image: nats:2.10
          args: ["--http_port", "8222", "-js"]
          ports:
            - name: client
              containerPort: 4222
            - name: monitoring
              containerPort: 8222
          readinessProbe:
            tcpSocket:
              port: 4222
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 4222
            initialDelaySeconds: 10
            periodSeconds: 20
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 256Mi
