apiVersion: v1
kind: Service
metadata:
  name: nats
  labels:
    app: belote
    component: nats
spec:
  type: ClusterIP
  selector:
    app: belote
    component: nats
  ports:
    - name: client
      port: 4222
      targetPort: 4222
    - name: monitoring
      port: 8222
      targetPort: 8222
