name: Deploy Game Service

on:
  push:
    paths:
      - "game-service/**"
      - ".github/workflows/game.yaml"

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: game-service

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

  build-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/game-service:latest ./game-service
          docker push ghcr.io/${{ github.repository_owner }}/game-service:latest

      # - name: Set up kubectl
      #   run: |
      #     echo "${{ secrets.KUBECONFIG }}" > kubeconfig
      #     export KUBECONFIG=./kubeconfig

      # - name: Deploy to Kubernetes
      #   run: |
      #     kubectl apply -f game-service/k8s/